<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.totrade.mapper.MessageMapper">
    <insert id="saveMessage" parameterType="com.totrade.domain.Message">
        insert into message(`from`,`to`,time,text,ifSend) values(#{from},#{to},#{time},#{text},#{ifSend})
    </insert>
    <select id="getUnSendMessage" resultType="com.totrade.domain.Message">
        select *
        from message where `to` = #{name} and ifSend = 0;
    </select>
    <update id="setSend" parameterType="string">
        update message
        set ifSend = 1
        where `to` = #{name}
    </update>
</mapper>